
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<body>
    <h3>Profile</h3>
        Welcome @Session["Username"]
    <br />
    <div>
        @Html.ActionLink("MF Profile", "Create")
    </div>


</body>
